
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-evenly;
}


ul {
  display: flex;
}

li {
  margin: 5px;
}

footer {
  background-color: #00010c;
  padding: 30px 0;
  color: #c6c9d8;
  font-size: 18px;
}

footer ul {
  margin: auto;
  padding: 0;
  width: 50%;
  justify-content: space-evenly;
  list-style: none;
}

footer a {
  color: #c6c9d8;
  text-decoration: none;
}